:root {
    /* Global Colors */
    --global-white: #fff;
    --global-black: #00234B;

    --global-accent: #ffe8df;

    /* Global Gutters */
    --global-gutter-small: 10px;
    --global-gutter-medium: 30px;
    --global-gutter-large: 40px;
    --global-gutter-xlarge: 101px;

    /* Global Radii */
    --global-radius-medium: 10px;
    --global-radius-round: 50%;
}